.doctor-register-container {
    padding: 0 100px;

    .doctor-register {

        .content-one-image {
            height: 80px;
            width: 80px;
            background-size: cover;
            background-position: center;
        }
    }
}