.family-profile-container {
    background: #fafafa;
    height: 100vh;

    .family-profile-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .button-member {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: end;
        padding-top: 50px;
        margin-bottom: 40px;

        .button-member-add {
            padding: 10px;
            border: 1px solid #4cc5d4;
            border-radius: 10px;
            background-color: #4cc5d4;
            color: white;
            cursor: pointer;

            &:hover {
                background-color: #3696a2;
            }
        }
    }
}